@import 'cursors';

.light_themes {
    --main-color: #ffffff;
    --additional-color: rgba(0, 0, 0, 1);
    --main-color-rgb: 255, 255, 255;
    --additional-color-rgb: 0, 0, 0;
    @include light-default-cursor;
    @include light-pointer-cursor;
}

.dark_themes {
    --main-color: rgba(0, 0, 0, 1);
    --additional-color: #ffffff;
    --main-color-rgb: 0, 0, 0;
    --additional-color-rgb: 255, 255, 255;
    @include dark-default-cursor;
    @include dark-pointer-cursor
}